<% if @data.try(:error).present? %>
  <h1><%= @data[:error] %></h1>
<% else %>
  <%= form_tag("/klines_average", :method => "get") do %>
    <%= select_tag "symbol", options_for_select([ "ADABNB", "BNBBTC" ], params[:symbol]) %>
    <%= select_tag "interval", options_for_select([ "1h", "2h" ], params[:interval]) %>
    <%= select_tag "type", options_for_select([ "open", "close", "high", "low" ], params[:type]) %>
    <%= select_tag "period", options_for_select(Array(1...500), params[:period]) %>
    <%= submit_tag("Submit") %>
  <% end %>

  <h2>Moving avg = <%= @data[:moving_avg] %></h2>
  <%= area_chart @data[:data] %>

<% end%>
